<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
</head>
<body>
<h1>User Page</h1>
<div sec:authorize="isAuthenticated()">
    Logged in as: <span sec:authentication="name"></span>
    Roles: <span sec:authentication="principal.authorities"></span>
</div>

<!-- Данные пользователя -->
<div th:if="${user}">
    <p>Username: <span th:text="${user.username}"></span></p>
    <p>Email: <span th:text="${user.email}"></span></p>
</div>

<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>
</body>
</html>